<!DOCTYPE html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 48px;
  max-width: 600px;
  height: 500px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 10px;
}
input[type=radio] {
    width: 40px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -7px;
}
</style>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">FINES</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form"  method="post" action="/fine">
                            <h3 class="text-center text-info">Impose Fine</h3>
                            <br>
                            <div class="form-group">
                                <label for="vehicle" class="text-info">Vehicle Registration Number</label><br>
                                <input type="text" name="regno" id="regno" class="form-control" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="fineid" class="text-info">Fine ID</label><br>
                                <input type="number" name="fineid" id="fineid" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="doi" class="text-info">Date of Issue</label><br>
                                <input type="date" name="doi" id="doi" class="form-control" required><br>
                                    {{#if msg}}
                                    <p style="color: red;font:100">*Fine ID Range is from 1 to 93 only!</p>      
                                    {{/if}}
                                    <br><br>
                                <br>
                                <button name="next" class="btn btn-info btn-md">NEXT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
