<!DOCTYPE html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script>
  function goback()
  {
    window.history.back();
  }
</script>
<style>
    body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 48px;
  max-width: 600px;
  height: 520px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 10px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -7px;
}
</style>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">SignUp Form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" method="post" action="/register2">
                            <h3 class="text-center text-info">Sign Up</h3>
                            <div class="form-group">
                                <label for="phone" class="text-info">Phone</label><br>
                                <input type="tel" name="phone" id="phone" class="form-control" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="email" class="text-info">Email</label><br>
                                <input type="email" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="address" class="text-info">Primary Address</label><br>
                              <textarea id="address_p" name="address_p" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="address" class="text-info">Secondary Address</label><br>
                              <textarea id="address_s" name="address_s" class="form-control"></textarea><br>
                            </div>                             
                                <button name="next" class="btn btn-info btn-md" >NEXT</button>
                               <a name="prev" style="color:#EAEAEA"  class="btn btn-info btn-md" onclick="return goback()">PREVIOUS</a>
                                
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
