<!DOCTYPE html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 48px;
  max-width: 600px;
  height: 480px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 10px;
}
input[type=radio] {
    width: 40px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -7px;
}
</style>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">SignUp Form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form"  method="post" action="/newuser">
                            <h3 class="text-center text-info">Sign In</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">UserName</label><br>
                                <input type="text" name="username" id="username" class="form-control" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="aadhar" class="text-info">Addhar Number</label><br>
                                <input type="text" name="aadhar" id="aadhar" class="form-control" required autofocus>
                            </div>
                             <div class="form-group">
                                <label for="pan" class="text-info">Pan Number</label><br>
                                <input type="text" name="pan" id="pan" class="form-control" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="voter" class="text-info">Voter ID</label><br>
                                <input type="text" name="voter" id="voter" class="form-control" required autofocus>
                            </div>
                           <div>
                            {{#if msg}}
                              <p style="color: red;font:100">*UserName or Passwords don't match</p>
                              <p><a href='/register'>Want to register?</p></a>
                            {{/if}}   
                           </div>
                                <h3></h3>
                                <br>
                                <button name="next" class="btn btn-info btn-md">NEXT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

